<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link id="mainStyle" rel="stylesheet" href="/userAssets/style-otp.css">
</head>
<body>
    <div class="verification-box">
        <h2>Reset Your Password</h2>
        <form action="" method="post" id="otpForm">
            <div class="form-group">
                <label for="otp">Enter New Password</label>
                <input type="password" class="form-control" id="otp" name="password" placeholder="New Password" required>
                <input type="hidden" name="user_id" value="<%= user_id %>">
            </div>
            
            <button type="submit" class="btn" id="verifyBtn">Reset Password</button>
        </form>
    </div>


    

        
</body>
</html>
